#correu{
    margin-bottom: 1%;
    padding-bottom: 0%;
    font-size: 30px;
}

input {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    text-align: center;
    height: 4%;
    width: 50%;
    font-size: medium;
    border-radius: 5px;
    border-style: ridge;
    border-color: white; 
    margin-bottom: 1rem;
    border-width: 0.5px;
}

/*Aqui le aplicamos una animacion la qual se encuentra mas abajo */
#crearButton{
    background-color: rgb(29, 33, 66);
    border-style: unset;
    border-radius: 4px;
    margin-top: 8%;
    height: 7%;
    width: 40%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    transition: transform 0.3s ease-in-out;
}

#inputContraRepit {
  border-width: 0.5px;
    margin-bottom: 2rem;
}

#crearButton:hover {
    transform: scale(1.1);
    
  }


  #iniciarSesioRedirect{
    font-size: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: unset;
}
/*Esta animacion hace que el texto se mueba de lado a lado para llamar la atencion del usuario */
@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  