#correu{
    margin-bottom: 1%;
    padding-bottom: 0%;
    font-size: 30px;
}

#inputCorreu{
  color: white;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    text-align: center;
    height: 4%;
    width: 50%;
    font-size: medium;
    border-radius: 5px;
    border-style: ridge;
    border-color: white;  
    border-width: 0.5px;
    
}

#contra{
    margin-bottom: 1%;
    padding-top: 4%;
    padding-bottom: 0%;
    font-size: 30px;
    border-width: 0.5px;

}

#inputContra{
  border-width: 0.5px;
  color: white;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    text-align: center;
    height: 4%;
    width: 50%;
    font-size: medium;
    border-radius: 5px;
    border-style: ridge;
    border-color: white;    
}

/*Aqui utilizamos una animacion que mueve de lado a lado el boton para llamar la atencion del usuario */
#iniciarSesioButton{
    margin-top: 8%;
    background-color: rgb(29, 33, 66);
    border-style: unset;
    border-radius: 4px;
    height: 7%;
    width: 40%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    transition: transform 0.3s ease-in-out;
}

#iniciarSesioButton:hover {
    transform: scale(1.1);
    
  }

#crearCompteRedirect{
    font-size: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: unset;
}


/*Aqui podemos ver la transicon que hace la animacion */

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  